body {
  margin: 0;
  padding: 0;
}
.swiper-vertical {
  height: 100vh !important;
  width: 100% !important;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.swiper-vertical > .swiper-wrapper > .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageStyle {
  width: 100% !important;
  height: 90% !important;
  object-fit: contain;
}

.swiper-vertical .swiper-slide-active {
  transform: scale(1);
}

.swiper-vertical > .swiper-wrapper > .swiper-slide-next {
  transform: translateY(50%) scale(1);
  opacity: 0.7;
  transition: transform 0.5s;
}

.swiper-vertical > .swiper-wrapper > .swiper-slide-prev {
  transform: translateY(-50%) scale(1);
  opacity: 0.7;
  transition: transform 0.5s;
}

/* horizonal css */

.swiper-horizontal
  .swiper-slide-active:not(
    .swiper-vertical
      > .swiper-wrapper
      > .swiper-slide-next
      > .swiper-horizontal
      > .swiper-wrapper
      > .swiper-slide-active,
    .swiper-vertical
      > .swiper-wrapper
      > .swiper-slide-prev
      > .swiper-horizontal
      > .swiper-wrapper
      > .swiper-slide-active
  ) {
  transform: scale(1);
  transition: transform 0.5s;
}

.swiper-horizontal > .swiper-wrapper > .swiper-slide-prev {
  transform: scale(0.7) translateX(-70%);
  opacity: 0.7;
  transition: transform 0.5s;
}

.swiper-horizontal > .swiper-wrapper > .swiper-slide-next {
  transform: scale(0.7) translateX(70%);
  opacity: 0.7;
  transition: transform 0.5s;
}

.slider-image-container-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swiper-vertical > .swiper-wrapper > .swiper-slide-prev {
  height: 20% !important;
}

.swiper-vertical > .swiper-wrapper > .swiper-slide-active {
  height: 60% !important;
}

.swiper-vertical > .swiper-wrapper > .swiper-slide-next {
  height: 20% !important;
}

.swiper-vertical
  > .swiper-wrapper
  > .swiper-slide-active
  > .swiper-horizontal
  > .swiper-wrapper
  > .swiper-slide-prev {
  width: 20% !important;
}
.swiper-vertical
  > .swiper-wrapper
  > .swiper-slide-active
  > .swiper-horizontal
  > .swiper-wrapper
  > .swiper-slide-next {
  width: 20% !important;
}
.swiper-vertical
  > .swiper-wrapper
  > .swiper-slide-active
  > .swiper-horizontal
  > .swiper-wrapper
  > .swiper-slide-active {
  width: 60% !important;
}

/* mediaquery */
@media (max-width: 768px) {
  .swiper-vertical > .swiper-wrapper > .swiper-slide-next {
    height: 20% !important;
  }
  .swiper-vertical > .swiper-wrapper > .swiper-slide-active {
    height: 60% !important;
  }
  .swiper-vertical > .swiper-wrapper > .swiper-slide-prev {
    height: 20% !important;
  }
  .swiper-vertical
    > .swiper-wrapper
    > .swiper-slide-active
    > .swiper-horizontal
    > .swiper-wrapper
    > .swiper-slide-prev {
    width: 20% !important;
  }
  .swiper-vertical
    > .swiper-wrapper
    > .swiper-slide-active
    > .swiper-horizontal
    > .swiper-wrapper
    > .swiper-slide-next {
    width: 20% !important;
  }
  .swiper-vertical
    > .swiper-wrapper
    > .swiper-slide-active
    > .swiper-horizontal
    > .swiper-wrapper
    > .swiper-slide-active {
    width: 60% !important;
  }
  .swiper-vertical
    > .swiper-wrapper
    > .swiper-slide-active
    > .swiper-horizontal
    > .swiper-wrapper
    > .swiper-slide-active
    img {
    object-fit: fill !important;
  }

  .swiper-horizontal > .swiper-wrapper > .swiper-slide-prev {
    transform: scale(1.3) translateX(-40%);
    opacity: 0.7;
  }

  .swiper-horizontal > .swiper-wrapper > .swiper-slide-next {
    transform: scale(1.3) translateX(40%);
    opacity: 0.7;
  }

  .swiper-horizontal
    .swiper-slide-active:not(
      .swiper-vertical
        > .swiper-wrapper
        > .swiper-slide-next
        > .swiper-horizontal
        > .swiper-wrapper
        > .swiper-slide-active,
      .swiper-vertical
        > .swiper-wrapper
        > .swiper-slide-prev
        > .swiper-horizontal
        > .swiper-wrapper
        > .swiper-slide-active
    ) {
    transform: scale(1);
  }
}
